.article-card {
  box-shadow: 0px 4px 80px 0px #b2b2b233;
}

.article-bubble-img {
  position: absolute;
  right: 3rem;
  top: -9rem;
}

.article-cat-img {
  position: absolute;
  bottom: -0.75rem;
  left: 0;
}
