.product-section-bubble {
  position: absolute;
  display: none;
  @media (min-width: 1400px) {
    display: block;
  }
  left: -16.5rem;
  top: 2.5rem;
}

.product-section-threeline {
  position: absolute;
  display: none;
  @media (min-width: 1400px) {
    display: block;
  }
  right: -7rem;
  top: 21.25rem;
}
